.exam-nav{
    background-color: #282C34;
    width: 100vw;
    color: wheat;
    position: absolute;
    text-align: center;
    z-index: 99;
    top: 55px;
}
.exam-ul{
    margin: 0;
    list-style: none;
    display: inline-block;
}
.exam-li{
    list-style: none;
    display: inline-block;
    color: wheat;
    padding: 10px 10px;
}
.exam-link{
    list-style: none;
    display: inline-block;
    color: wheat;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: all ease 0.05s;
    cursor: pointer;
}
.exam-link:hover {
    background-color: #515560;
    color: wheat;
}